.section {
    margin-top: 4rem;
    padding-top: 4rem;
}
.section:last-of-type {
    padding-bottom: 4rem;
}
.bgimage {
    height:100vh;
    background: url('images/nikewlogo.jpeg');
    background-size:cover;
    position:relative;
    padding: 0;
    margin: 0;
}