body {
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Mynerve", cursive;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 230%;
}

.navbar {
    background-color: rgba(129, 124, 124, 0.731);
}

.container-wrapper {
    display: flex;
    justify-content: space-between; /* Adds space between the containers */
    gap: 20px; /* Adds space between the containers */
}

.container-one, .container-two {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 600px; /* Set a fixed height */
    width: 600px; /* Set a fixed width */
    border-radius: 120px; /* Default radius */
    color: white;
}

.container-one {
    background-color: #7c8363; /* Specific color for container-one */
}

.container-two {
    background-color: #edf4f2a7; /* Specific color for container-two */
    border-radius: 140px; /* Specific radius for container-two */
}

.example-img, .example-imgtwo {
    max-width: 100%; /* Ensure the image does not exceed container width */
    height: auto; /* Maintain aspect ratio */
    width: 60%; /* Set the image width to 60% of the container */
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}
