body {
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 230%;
}

.navbar {
    background-color: dark;
}

.container-wrapper {
    display: flex;
    justify-content: space-between; /* Adds space between the containers */
    gap: 20px; /* Adds space between the containers */
}

.container-one, .container-five,.container-six,.container-seven,.container-eight {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 600px; /* Set a fixed height */
    width: 600px; /* Set a fixed width */
    border-radius: 120px; /* Default radius */
    color: rgb(0, 0, 0);
}
.container-two{
    text-align: center;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 600px; /* Set a fixed height */
    width: 800px; /* Set a fixed width */
    border-radius:0px; /* Default radius */
    color: rgb(0, 0, 0);
    margin-top: -80px;
}

.container-one {
    background-color: #7c8363; /* Specific color for container-one */
}

.container-two {
    background-color: #edf4f2f6; /* Specific color for container-two */
    border-radius: 150px; /* Specific radius for container-two */
}

.container-five {
    background-color: #edf4f2f6; /* Specific color for container-two */
    border-radius: 140px; /* Specific radius for container-two */
}
.container-six {
    background-color: #edf4f2f6; /* Specific color for container-two */
    border-radius: 140px; /* Specific radius for container-two */
}
.container-seven {
    background-color: #edf4f2f6; /* Specific color for container-two */
    border-radius: 140px; /* Specific radius for container-two */
}
.container-eight {
    background-color: #edf4f2f6; /* Specific color for container-two */
    border-radius: 140px; /* Specific radius for container-two */
}
.example-img, .example-imgtwo {
    max-width: 100%; /* Ensure the image does not exceed container width */
    height: auto; /* Maintain aspect ratio */
    width: 60%; /* Set the image width to 60% of the container */

}
.carousel-item{
	align-content: center;
    border-radius: 200px;
    width: 400px;
    height: 400px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}
.hero-image-1 {
    background-image: url("C:/Users/miiss/Downloads/Web_Project-main/Logos/nikewlogo.png");
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.hero-image-2 {
    background-image: url("C:/Users/miiss/Downloads/Web_Project-main/Logos/adidaswlogo.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.hero-image-3 {
    background-image: url("C:/Users/miiss/Downloads/Web_Project-main/Logos/uniqlo-banner.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.hero-image-4 {
    background-image: url("C:/Users/miiss/Downloads/Web_Project-main/Logos/handm-banner.jpg");
    background-size: cover;
    background-position: center;
    height: 25vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
.card {
    margin-bottom: 20px;
}
.card-img-top {
    height: 300px;
    object-fit: cover;
}
.card-body {
    text-align: center;
}
.add-to-cart {
    margin-top: 30px;
}
button{
    color: grey;
}